[submodule "reference/opencode"]
	path = reference/opencode
	url = https://github.com/anomalyco/opencode.git
[submodule "reference/langfuse-skill"]
	path = reference/langfuse-skill
	url = https://github.com/langfuse/skills.git
[submodule "reference/opentui"]
	path = reference/opentui
	url = https://github.com/anomalyco/opentui.git
[submodule "reference/tome"]
	path = reference/tome
	url = git@github.com:wcleeah/tome.git
